PORT=3000

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=tu_password
MYSQL_DATABASE=tesis_sql
MYSQL_SANDBOX_DATABASE=tesis_sandbox

DATABASE_URL="mysql://root:tu_password@localhost:3306/tesis_sql"
